$font_primary: 'Poppins', sans-serif;

$color_primary: #84d9bc;
$color_secondary: #313c4e;
$color_secondary_light: rgb(57 70 89 / 0.7);
$color_black: #000000;
$color_white: #ffffff;

$media_tel: 480px;
$media_tablet: 768px;
$media_desktop: 1024px;
$media_desktop_xl: 1440px;
